#nav {
    background-image: url("http://www.lnmm.lv/resources/web/preses_relizes/2016/KOP%C4%92J%C4%80S/LNMM_projektu_konkurss/Nosledzies/ANaumovs_Cannes.jpg");
    background-color: #cccccc;
}

.nav-link {
    color:beige;
}

#register {
    color:rgb(230, 148, 66);
}

body {
    background-image: url("https://cdn.diena.lv/media/2011/10/1/large/e271f613e6fa.jpg");
    background-color: #cccccc;
}

#rules {
    color: white;
}

footer { 
    display: block;
    border-top-style: solid;
    border-width: 1px;
    color: black;
}
#breadcrumb {
    background-color: transparent;
}

ul.breadcrumb li+li:before {
    padding: 8px;
    color: black;
    content: "/\00a0";
}
   